<html>

<head>
  <meta charset="UTF-8" />
  <title>Snippetfy | Save cód</title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dracula.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  <script src="/main.js"></script>
</head>

<body>
  <dir class="auth-wrapper">
    <form class="form-sigin" action="" method="post">
      <h1>Criar Conta</h1>
      <input type="text" name="name" placeholder="Digite seu nome">
      <input type="email" name="email" placeholder="Digite seu e-mail">
      <input type="password" name="password" placeholder="Digite sua senha">
      <button type="submit">Criar minha conta</button>
      <a href="/">Já tenho conta</a>
    </form>
  </dir>
</body>

</html>
