{% extends 'layouts/default.njk' %}

{% block body%}
  <dir class="auth-wrapper">
    <form class="form-sigin" action="" method="post">
      <h1>Fazer Login</h1>
      <input type="email" name="email" placeholder="Digite seu e-mail">
      <input type="password" name="password" placeholder="Digite sua senha">
      <button type="submit">Entrar</button>
      <a href="/signup">Criar conta grátis</a>
    </form>
  </dir>
  {% endblock%}
